@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: var(--background);
  color: var(--foreground);
  @apply min-h-screen bg-center bg-repeat bg-cover;
  background-image: url("/fondo.png");
}
